<%p "pooooo"%>

<!-- <a href="https://www.eventbrite.com/xml/organizer_new?app_key=DL5PFFNSQE2VAQ34DN&user_key=1427195756138283481616&name=Techaffinity&description=My+organization+is+great">Organizer create</a>
 -->
<a href="https://www.eventbrite.com/json/event_new?app_key=appkey&user_key=userkey&title=Come+and+shave&description=Everyone+can+enjoy+their+style&start_date=2015-04-15+10:00:00&end_date=2015-04-25+02:00:00">Create new event</a>

<br>

<a href="https://www.eventbrite.com/json/user_list_events?app_key=appkey&user_key=userkey">List events</a>

<br>

<a href="https://www.eventbrite.com/json/event_get?app_key=appkey&user_key=userkey&id=16300498229">Get event information</a>

<br>

<a href="https://www.eventbrite.com/json/event_list_attendees?app_key=appkey&user_key=userkey&id=16296903477">Get attendees for the event</a>

<br>




